header{
    background-image: url(../img/flywheel.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
h1{
    color: #ffffff;
    text-align: center;
    font-size: 300%;
}
nav a{
    border-radius: 25px;
    background-color: #9c9a9a;
    font-size: 30px;
    color: #000000;
    margin-left: 5%;
    text-decoration: none;
    padding: 20px;
    width: 20%;
    height: 15%;
}
a.active{
    background-color: #ffffff;
}
.left{
    background-color: #bdb76b;
    background-size: cover;
    width: 20%;
    height: 700px;
    float: left;
}
.left img{
    border: 2px solid #000000;
    width: 70%;
    height: 150px;
    margin-top: 20%;
    margin-left: 15%;
    display: block;  
}
.right{
    margin: 3%;
    display: inline-block;
    background-color: #ffffff;
    width: 60%;
    clear: both;
}
.right p{
    font-size: 100%;
}
.right h2{
    font-size: 200%;
}
.right a{
    font-size: 100%;
}

/* Week 4 */
.right table{
    line-height: 40px;
    width: 90%;
    margin-left: 10%;
    font-weight: bold;
}
.right table th{
    color: #ffffff;
    background-color: #006400;
    border-radius: 8px 8px 0 0;
    padding: 10px;
    text-align: center;
    border-bottom-style: groove;
}
.right table th:first-child{
    width: 55%;
    text-align: left;
}
.right table tr td{
    background-color: #7cfc7c;
    padding-left: 10px;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}
.right table tr td:first-child{
    text-align: left;
}
.right table tr{
    opacity: 0.6;
}
.right table tr:first-child{
    opacity: 1;
}
.right table tr:hover{
    opacity: 1;
}


