aside{
    display:none;
  }
  
  h1{
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
  }
  
  h2{
    text-transform: uppercase;
    color: #0000FF;
  }
  
  section{
    background: #808080;
  }
  
  header{
    background: #C0C0C0;
  }
  
  a{
    color: #000000;
    background:#D3D3D3 ;
  }
  