img {
    display: none;
}

header
{
    text-transform: uppercase;
    text-align: center;
    background:#FF00FF
}
h1
{
  color:#F00000;
      text-transform: uppercase;

}
h2
{
  color:#000F00;
        text-transform: uppercase;

}
a
{
  background:#FFFF0F;
  color:#00FFFF
}
section.right
{
      background:#FF0000

}