h1{
   background:chartreuse;
   font-size: 150%;
}
header{
    background:darkcyan;
    text-align: center;
}
h1{
    color: darkkhaki;
}
nav{
    font-variant: small-caps;
    font-size: 150%;
    font-family: Arial, 'Times New Roman', serif;
}
h2{
    color: aqua;
    background: aquamarine;
}
body{
    margin: 40px;
}