header,h2,footer{
    background-color: deepskyblue;
}
header{
    text-align: center;
}
h1{
    text-align: center;
    color: white;
    size: 200%;
}
nav{
    font-variant: small-caps;
    size: 150%;
}
a{
    color: salmon;
    text-align: center;
}
h2{
    color:brown;
}
footer{
    clear: both;
}
img{
    width: 10%;
}
p{
    display: inline-block;
}
progress{
    width: 30%;
}
.half{
    width: 45%;
    display: inline-block;
    float: left;
    margin: 2px;
}
.whole{
    clear: both;
}
