header,h2,footer{
    background-color: deepskyblue;
}
h1{
    text-align: center;
    color: white;
    size: 200%;
}
nav{
    font-variant: small-caps;
    size: 150%;
}
a{
    color: salmon;
}
h2{
    color: springgreen;
}
div{
    width: 30%;
    display: inline-block;
}
